.cards{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.card{
	max-width: 20vw;
	min-height: 20vw;
	background-color: blue;
	border-radius: 2rem;
	box-shadow: 5px 5px 5px black;
	transition: all .7 ease;
}

.card img{
	max-width: 100%;
	min-height: auto;
}

.img-description{
	font-size: 2rem;

}

.card h1{
	position: relative;
	text-align: center;
	color: #fff;
	opacity: 0;
	transition: all .7s ease;
}

.card:hover{
	/* transform: scale(1.1); */
	background-color: purple;

}

.card:hover h1{
	opacity: 1;
}