*{
	margin: 0;
	padding: 0;
}

/* for smooth scrolling of links */
html{
	scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	overflow-x: hidden;

	/* font-family: 'Yuji Syuku', Courier, monospace; */
	font-family: 'Yuji Boku', Courier, monospace;
	/* font-family: 'BIZ UDMincho', Courier, monospace; */
	font-size: 1.5rem;
}

a{
	color: white;
	text-decoration: none;
}

.loading{
	width: 100vw;
	height: 100vh;
	background: blue;
	position: fixed; 
	opacity: 1;
	transition: all 1s ease;
	z-index: 1;
}

.monkey-gif{
	width: 50%;
	z-index: 1;
}

section{
	width: 100vw;
	height: 100vh;
	z-index: 0;
}

.scroll-from-top{
	position: absolute;
	height: 1px;
}


/* HOME PAGE */
#home{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#video-background{
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.title{
	text-align: center;
	line-height: 1.5;
	color: white;
	padding: 15vh 0 0 0;
}

.title h1{
	width: 100%;
	height: 100%;
	font-size: 10vw;
	font-weight:bold;
	letter-spacing: 1vw;
	transition: all 0.7s ease 0.2s;
}

.title h2{
	font-size: 2rem;
}


/* NEWSLETTER */
#call-to-action{
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.newsletter-button{
	width: 90vw;
	height: 25rem;
	background-color: aqua;
	transition: 0.4s ease;
	overflow: scroll;

}

.newsletter-button:hover{
	background-color: blue;
	scale: 1.1;
}

.newsletter-button p{
	text-align: center;
	padding: 12rem 0rem;
	font-size: 2.5rem;
	color: white;
}


/* GAME GALLERY */
#game-gallery{
	/* background: #320d6d; */
	background: white;
}

#game-gallery h2{
	text-align: center;
	padding: 8rem 5rem;
	font-size: 3rem;
}

.image-info-container{
	width: 100%;
	height: 28rem;
	display: flex;
}

.image{
	width: 100%;
	background-color: black;
	display: flex;
	justify-content: center;
}

.image video{
	width: 25%;
}

.game-info{
	width: 100%;
	background-color: #44ccff;
	padding: 2rem;
	overflow-y: scroll;

}

.game-title{
	font-size: 2rem;
	line-height: 2rem;
}

.game-info p{
	padding: 2rem;
	font-size: 1.5rem;
}



/* CARD SECTION */
.test-cards{
	position:relative;
	top: 10px;
	font-size: 1.5rem;
	text-align: center;
	width: 100vw;
}

.card-section{
	background-color: #FFFAFB;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}


.card{
	width: 20vw;
	height: 20vw;
	background-color: blue;
	border-radius: 2rem;
	box-shadow: 5px 5px 5px black;
	transition: transform 0.2s;
}

.card img{
	width: 100%;
	height: auto;
}

.card h1{
	position: relative;
	text-align: center;
	color: #fff;
	visibility: hidden;
	opacity: 0;
	transition: opacity .2s, visibility .2s;
}

.card:hover{
	transform: scale(1.1);
}
.card:hover h1{
	opacity: 1;
	visibility: visible;
}


/* 3D Section */

#socials{
	background: green;
}

#socials #c{
	width:  100%;
	height: 100%;
}


